<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="mongo" class="git.volkov.kvstorage.mongo.MongoStorage">
		<property name="host" value="localhost" />
		<property name="port" value="27017" />
	</bean>

	<bean id="tester" class="git.volkov.kvstorage.StorageTester">
		<property name="putFile" value="src/test/resources/put" />
		<property name="getFile" value="src/test/resources/get" />
		<property name="storages">
			<list>
				<ref local="mongo" />
			</list>
		</property>
	</bean>

</beans>